$theme-color: #D85454;
$secondary-color: #6c757d;
$error-color: red;

.resetForm-container {
    background-color: rgba(106, 187, 187, 0.16);
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        width: 400px;
        align-items: flex-start;
        padding: 2rem;
    }

    h1 {
        align-items: flex-start;
        padding-bottom: 1rem;
    }
    label {
        font-weight: bold;
        margin-bottom: 1rem;
    }
    input {
        width: 100%;
        padding: .5em .7em;
        margin-bottom: 1rem;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        color: $theme-color;

        &:focus {
            border-color: $theme-color;
            outline: none;
        }
    }
    button {
        background-color: $theme-color;
        color: white;
        padding: .5em .9em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        align-self: flex-end;

        &:hover {
            background-color: darken($theme-color, 10%);
        }
    }


}
