$gap-head-container: 2rem;

.dash {
    margin: $gap-head-container;
    border: 1px solid blue;

    &-head{
        // This margin should be the same ga
        margin-bottom: $gap-head-container;
    }
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin-block: $gap-head-container;

  &-item {
    background-color: lightgray;
    padding: 20px;
    border: 1px solid gray;
    box-sizing: border-box;
  }

  &-right {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  &-left {
    grid-column: 2/3;
    grid-row: 1/2
  }
}
