<p>user-detail works!</p>
<div>
  <form action="">
    <div class="flex-col">
      <label for="username">Username</label>
      <input type="text" id="username" />
    </div>

    <div class="flex-col">
      <label for="email">Email</label>
      <input type="email" id="email" />
    </div>

    <div class="flex-col">
      <label for="username">Username</label>
      <input type="text" id="username" />
    </div>

    <div class="flex-col">
      <label for="username">Username</label>
      <input type="text" id="username" />
    </div>
  </form>
</div>
