<p>register works!</p>
<form [formGroup]="registrationForm" (ngSubmit)="onRegistration()">
    <div>
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username">
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" formControlName="password">
    </div>
    <button>Register</button>
</form>
